---
import Home from '../assets/icons/Vector.svg';
import MenuIcon from '../assets/icons/menu-open.svg';
import Search from '../assets/icons/search.svg';
import CloseIcon from '../assets/icons/close.svg';
const currentPath = Astro.url.pathname;
---
<header class="flex items-center justify-between px-4 h-20 bg-gray-900 text-white border-b-2 border-b-indigo-100">
    <a href="/" class="flex items-center gap-2">
      <Home class="h-8 w-8" />
    </a>
  
    <button id="menu-btn" aria-label="Ouvrir le menu">
      <MenuIcon class="h-6 w-6" />
      <Search class="h-6 w-6" />
    </button>
  </header>
  
  <nav id="menu" class="fixed inset-0 z-20 flex flex-col items-center justify-center bg-gray-900 text-white opacity-0 invisible transition-opacity duration-300" aria-hidden="true">
    <button id="close-menu" aria-label="Fermer le menu">
      <CloseIcon class="h-8 w-8 text-white absolute top-5 right-5" />
    </button>
  
    <ul class="text-center space-y-6 text-lg font-medium">
      <li><a href="#infos" class="block hover:text-indigo-400">Infos pratiques</a></li>
      <li><a href="#billetterie" class="block hover:text-indigo-400">Billetterie</a></li>
      <li><a href="#festival" class="block hover:text-indigo-400">Le Festival</a></li>
      <li><a href="#contact" class="block hover:text-indigo-400">Contact</a></li>
      <li><a href="#inscription" class="block hover:text-indigo-400">Inscription</a></li>
    </ul>
  </nav>
  
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const menuBtn = document.getElementById("menu-btn");
      const closeMenuBtn = document.getElementById("close-menu");
      const menu = document.getElementById("menu");
  
      function toggleMenu(open) {
        menu.ariaHidden = !open;
        menu.classList.toggle("opacity-100", open);
        menu.classList.toggle("visible", open);
      }
  
      menuBtn.addEventListener("click", () => toggleMenu(true));
      closeMenuBtn.addEventListener("click", () => toggleMenu(false));
    });
  </script>